header 
    nav.nav
        h1#name Project Name 
        ul.links 
            li 
                a(href='/') Home 
            li 
                a(href='/about') About 
            li 
                a(href='/contact') Contact 