block append head 
    link(rel='stylesheet', href='/stylesheets/header.css')

header 
    nav.nav
        h1#name Basic Website
        ul.links 
            li 
                a(href='/') Home 
            li 
                a(href='/about') About 
            li 
                a(href='/contact') Contact 
        ul.links 
            if user
                li
                    a#logout--btn(href='#') Logout
            else
                li 
                    a(href='/login') Login
                li 
                    a(href='/register') Register