extends base 

block append head 
    link(rel='stylesheet', href='/stylesheets/login.css')

mixin formElement(labelEl) 
    input.form-control(type='text', name=`${labelEl.toLowerCase()}`, placeholder=`Enter your ${labelEl}`)

block content 
    main
        .login-container 
            //- Change method to POST and action 
            form.form--login
                h1 Login
                .inputs
                    input#email(type='text', name='email', placeholder='Email')
                    input#password(type='password', name='password', placeholder='Password')
                button#login-submit(type='submit') Login
                p Don't have an account? <a href='/register' id='register'>Signup</a>