extends base 

block append head 
    link(rel='stylesheet', href='/stylesheets/register.css')

mixin formElement(labelEl) 
    input.form-control(type='text', name=`${labelEl.toLowerCase()}`, placeholder=`Enter your ${labelEl}`)

block content 
    main
        .register-container 
            form.form--signup
                h1 Signup
                .inputs
                    input#username(type='text', name='name', placeholder='Enter your username')
                    input#email(type='text', name='email', placeholder='Enter your email')
                    input#pass(type='password', name='password', placeholder='Create a password')
                    input#passConfirm(type='password', name='password', placeholder='Confirm your password')
                button#register-submit(type='submit') Signup
                p Already have an account? <a href='/login' id='login'>Login</a>