body {
    height: 100vh;
    display: flex;
    font-family: 'Roboto', sans-serif;
    flex-direction: column;
    background-color: #009578;
}

main {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.register-container {
    gap: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form--signup {
    gap: 2rem;
    width: 300px;
    display: flex;
    padding: 1.5rem;
    border-radius: 5px;
    flex-direction: column;
    background-color: white;
}

.form--signup h1 {
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
}

.form--signup p {
    text-align: center;
}

.inputs {
    gap: 0.8rem;
    display: flex;
    flex-direction: column;
}

.inputs input {
    font-size: 0.8rem;
    border: 1px solid lightgray;
    padding: 0.6rem;
    border-radius: 4px;
}

#register-submit {
    color: white;
    border: none;
    padding: 0.8rem 0rem;
    font-size: 1rem;
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.75);
    border-radius: 4px;
    background-color: #009578;   
}

#register-submit:hover {
    cursor: pointer;
    background-color: #018168;
}

#register-submit:active {
    box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
    transform: translateY(4px);
}

#login {
    color: aqua;
    text-decoration: none;
}