@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

body {
    height: 100vh;
    font-family: 'Roboto', sans-serif;

    -webkit-animation: fadein 1s;
}

/* MAIN */
main {
    height: 91vh;
    display: flex;
    flex-direction: column;
}

/* ??? */
#forest-ext-shadow-host {
    display: none;
}

/* === KEYFRAMES === */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to { opacity: 1; }
}