@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

/* body {
    height: 100vh;
    display: flex;
    font-family: 'Roboto', sans-serif;
    flex-direction: column;
    justify-content: space-between;
} */

/* FOOTER */

#footer {
    display: flex;
    justify-content: center;
}

/* ??? */
#forest-ext-shadow-host {
    display: none;
}